<div class="todo-container">
  <h1>TODO List</h1>
  <p>A place to store your todos</p>
  <form>
    <input type="text" placeholder="Filter your to-dos" />
    <ol>
      <li *ngFor="let task of todoes; index as i">
        <div class="stay-in-line">
          {{ i + 1 }}.
          <div class="if-container" *ngIf="task.completed === false">
            <button class="completed-btn" (click)="completeTask()">
              Complete
            </button>
          </div>
          <span
            [ngClass]="task.completed === true ? 'completed' : 'notcompleted'"
            >{{ task.task }}</span
          >
        </div>
        <button>X</button>
      </li>
    </ol>
    <input type="text" placeholder="Add your to-do" />
    <button class="add-btn">ADD</button>
  </form>
</div>
